* {
    margin: 0;
    padding: 0;
    --mainColor: #20639B;
}
    
    /* classes */
 .header1 { 
    color: var(--mainColor);
    text-align: center;
    position: relative;
    font-size: 4em;
    font-family: 'Anton', sans-serif;

 }

 .underHeader {
    color: #173F5F;
 }
 
 .scoreBoard1 {
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
 }
 
 
 .scoreBoard {
     display:flex; 
     flex-direction: row;
     justify-content: space-around;
     padding: 0.5em;
     background-color: blanchedalmond;
    

 }




 .imgContainer {
     display: flex;
     justify-content: space-around;
     position:relative;
     top: 4em

 }

 .resultText {
     text-align: center;
     font-size: 2em;
     position: relative;
     top: 1em;
     background-color: blanchedalmond;
     font-family: 'Anton', sans-serif;
     font-style: italic;
 }

  .resetScore { 
    position: relative;
    top:20px;
    left: 13px;
    border: solid;
    padding: 10px;

  }

 #footerdiv {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
    text-align:center;
    background-color:#545454;
    color:white;
    overflow:hidden;

  }

  footer {
      position:relative;
      top:10px;
      left:40px;
  }

  #githubIcon {
      position:relative;
      left:20px;
      bottom: 8px;

  }
 


 button {
    background-color: transparent;
    border: none;
 }


 button:hover {
     transform: scale(1.5);
 }

 img {
     width: 7em;
     height: auto; 
 }

    
 body {
    background-image: linear-gradient( 90.5deg,  rgba(255,207,139,0.50) 1.1%, rgba(255,207,139,1) 81.3% );
 }
    
 p {
     
    font-size: 1.5em;
     text-align: center;
     font-family: 'Anton', sans-serif;

 }

  
















 /*
 <div>Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
 <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
 <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
 */
 
